{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
      <p>
      {#{% if object.roles[0] == 'ROLE_CLIENT' %}
         КЛИЕНT
      {% elseif object.roles[0] == 'ROLE_MODERATOR' %}
             МЕНЕДЖЕР
      {% elseif object.roles[0] == 'ROLE_ADMIN' %}
         Admin
      {% else %}
         Super Admin
      {% endif %}#}
   </p>
{% endblock %}